/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Product_Transaction_sKey]
      ,[RTM_ID]
      ,[RTM_Ownership]
      ,[RTM_IDLink_CMR]
      ,[RTM_IDLink_RMR]
      ,[RTM_IDLink_Funder]
      ,[RTM_IDLink_XTRM]
      ,[RTM_IDLink_Reversal]
      ,[RTM_IDLink_Batch]
      ,[RTM_IDLink_GLCompany]
      ,[RTM_IDLink_Sign]
      ,[RTM_SeqNumber]
      ,[RTM_DateC]
      ,[RTM_DateE]
      ,[RTM_DateQ]
      ,[RTM_DateD]
      ,[RTM_Value]
      ,[RTM_ValueDB]
      ,[RTM_PointsDB]
      ,[RTM_TypeGhost]
      ,[RTM_IDLink_Group]
      ,[RTM_ValuePaid]
      ,[RTM_ValueCR]
      ,[Reject_Ind]

	  ,[newC]=Hashbytes('MD5',convert(VARBINARY(MAX), CHECKSUM([RTM_ID]
      ,[RTM_Ownership]
      ,[RTM_IDLink_CMR]
      ,[RTM_IDLink_RMR]
      ,[RTM_IDLink_Funder]
      ,[RTM_IDLink_XTRM]
      ,[RTM_IDLink_Reversal]
      ,[RTM_IDLink_Batch]
      ,[RTM_IDLink_GLCompany]
      ,[RTM_IDLink_Sign]
      ,[RTM_SeqNumber]
      ,[RTM_DateC]
      ,[RTM_DateE]
      ,[RTM_DateQ]
      ,[RTM_DateD]
      ,[RTM_Value]
      ,[RTM_ValueDB]
      ,[RTM_PointsDB]
      ,[RTM_TypeGhost]
      ,[RTM_IDLink_Group]
      ,[RTM_ValuePaid]
      ,[RTM_ValueCR])))


  FROM [Money3_DW_Staging].[stg].[APL_Product_Transaction]